<ul class="carousel">
  <li class="img"><span class="material-icons">image</span>Image 1</li>
  <li class="img"><span class="material-icons">image</span>Image 2 </li>
  <li class="img"><span class="material-icons">image</span>Image 3</li>
</ul>

<div class="text">
  <div class="container">
      <h2 class="title skeleton-text">Title</h2>
      <span class="price skeleton">Price</span>
  </div>
  
  <p class="description">
    <span class="skeleton-text"></span>
    <span class="skeleton-text"></span>
    <span class="skeleton-text"></span>
    <span class="skeleton-text"></span>
    <span class="skeleton-text"></span>
  </p>
</div>


