div.details {
  display: flex;
  flex-direction: column;
  justify-content: center;
  justify-self: center;
  height: 100vh;
  min-width: 70vw;
  gap: 1em;
}

.carousel {
  display: grid;
  grid-auto-flow: column;
  grid-auto-columns: 100%;
  height: 400px;
  overflow-x: hidden;
  border-radius: 1em;
  scroll-snap-type: x mandatory;
  scroll-marker-group: after;
  animation: 0.5s slideIn linear alternate forwards;

  &::scroll-marker-group {
    anchor-name: --scroller;
    display: grid;
    grid-auto-flow: column;
    grid-area: markers;
    padding: 0rem 2rem;
    justify-content: center;
    align-items: center;
    margin: 1em;
    height: 40px;
    width: 50%;
    align-self: center;
  }

  &::scroll-button(*) {
    position: fixed;
    position-anchor: --scroller;
    font-family: "Material Icons";
    height: 30px;
    width: 30px;
    border-radius: 50%;
    border: 1px solid var(--accent-color1);
  }
  &::scroll-button(*):enabled {
    color: white;
    font-weight: bold;
    background-color: var(--accent-color1);
  }

  &::scroll-button(right) {
    position-area: center right;
    content: "arrow_forward" / "Next";
  }

  &::scroll-button(left) {
    position-area: center left;
    content: "arrow_back" / "Previous";
  }

  & > .img {
    list-style: none;
    scroll-snap-align: center;
    display: flex;
    justify-content: center;
    align-items: center;

    animation: 0.5s pulse linear alternate infinite;

    > span {
      color: red;
    }
  }
  > li::scroll-marker {
    content: "";
    padding: 0.8rem;
    height: 1px !important;
    aspect-ratio: 1/1;
    border-radius: 50%;
    border: 1px solid var(--accent-color1);
    background-color: var(--accent-color1);
    transform: scale(0.5);
  }
  > li::scroll-marker:target-current {
    background: canvas;
    transform: scale(0.6);
    transition: 0.3s transform ease-in-out;
  }
  @media (prefers-reduced-motion: no-preference) {
    scroll-behavior: smooth;
  }
}

.text {
  padding: 1em;
  display: flex;
  flex-direction: column;
  gap: 2em;
  animation: 2s slideIn ease forwards;
}

.text > .container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: inherit;
  gap: 1em;
  & > * {
    border-radius: 0.5em;
  }
  & .title {
    padding: 1em;
    width: 100%;
  }
  & .price {
    padding: 1em;
    align-self: flex-end;
  }
}

.text > .description {
  display: flex;
  flex-direction: column;
  gap: 0.5em;
  width: inherit;
  > * {
    width: 100%;
    height: 1.5em;
    border-radius: 0.25em;
  }
  & > :last-child {
    width: 80%;
  }
}

@media (max-width: 460px) {
  div.details {
    width: 100vw;
    justify-content: unset;
  }
  ul.carousel {
    border-radius: 0;
    &::scroll-marker-group {
      width: 50%;
      align-self: center;
    }
    &::scroll-button(*){
      height: 50px;
      width: 50px;
      font-size: 2rem;
    }
    > li::scroll-marker{
      padding: 0.4rem;
    }
    > li::scroll-marker:target-current{
      padding: 0.5rem;
    }
  }
}

@media screen and (min-width: 768px) and (max-width: 1024px) and (orientation: portrait) {
  div.details {
    width: 100vw;
    justify-content: unset;
  }
  ul.carousel {
    border-radius: 0;
    &::scroll-marker-group {
      width: 50%;
      align-self: center;
    }
    &::scroll-button(*){
      height: 50px;
      width: 50px;
      font-size: 2rem;
    }
    > li::scroll-marker{
      padding: 0.4rem;
    }
    > li::scroll-marker:target-current{
      padding: 0.5rem;
    }
  }
}

@keyframes slideIn {
  from {
    transform: translateY(10%);
    opacity: 0;
  }
  to {
    transform: translateY(0%);
    opacity: 1;
  }
}
