div.home {
  
  height: inherit;
}

.cover {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  background-color: #fef4f2;
  animation: 1s slideIn ease forwards;
  > img {
    object-fit: cover;
  }
}
.welcome {
  padding: 1em;
  height: 900px;
  animation: 1s slideIn ease forwards;
}
@media (max-width: 480px) {
    div.home, .cover img{
        width: inherit;
    }
}
