<div class="search">
  <button class="material-icons">search</button>
  <label for="text"></label>
  <input aria-label="search" type="text" name="search" placeholder="Search" />
</div>
<div class="grid-container">
  <div class="card">
    <div class="img skeleton">Click <br> <span class="material-icons">image</span></div>
    <div class="sub-container">
      <p class="title skeleton-text">Title <br> <span class="material-icons">
title
</span></p>
      <span class="price skeleton-text material-icons">paid</span>
    </div>
  </div>
  <div class="card">
    <div class="img skeleton">Click <br> <span class="material-icons">image</span></div>
    <div class="sub-container">
      <p class="title skeleton-text">Title <br> <span class="material-icons">
title
</span></p>
      <span class="price skeleton-text material-icons">paid</span>
    </div>
  </div>
  <div class="card">
    <div class="img skeleton">Click <br> <span class="material-icons">image</span></div>
    <div class="sub-container">
      <p class="title skeleton-text">Title <br> <span class="material-icons">
title
</span></p>
      <span class="price skeleton-text material-icons">paid</span>
    </div>
  </div>
  <div class="card">
    <div class="img skeleton">Click <br> <span class="material-icons">image</span></div>
    <div class="sub-container">
      <p class="title skeleton-text">Title <br> <span class="material-icons">
title
</span></p>
      <span class="price skeleton-text material-icons">paid</span>
    </div>
  </div>
  <div class="card">
    <div class="img skeleton">Click <br> <span class="material-icons">image</span></div>
    <div class="sub-container">
      <p class="title skeleton-text">Title <br> <span class="material-icons">
title
</span></p>
      <span class="price skeleton-text material-icons">paid</span>
    </div>
  </div>
  <div class="card">
    <div class="img skeleton">Click <br> <span class="material-icons">image</span></div>
    <div class="sub-container">
      <p class="title skeleton-text">Title <br> <span class="material-icons">
title
</span></p>
      <span class="price skeleton-text material-icons">paid</span>
    </div>
  </div>
  <div class="card">
    <div class="img skeleton">Click <br> <span class="material-icons">image</span></div>
    <div class="sub-container">
      <p class="title skeleton-text">Title <br> <span class="material-icons">
title
</span></p>
      <span class="price skeleton-text material-icons">paid</span>
    </div>
  </div>
  <div class="card">
    <div class="img skeleton">Click <br> <span class="material-icons">image</span></div>
    <div class="sub-container">
      <p class="title skeleton-text">Title <br> <span class="material-icons">
title
</span></p>
      <span class="price skeleton-text material-icons">paid</span>
    </div>
  </div>
  <div class="card">
    <div class="img skeleton">Click <br> <span class="material-icons">image</span></div>
    <div class="sub-container">
      <p class="title skeleton-text">Title <br> <span class="material-icons">
title
</span></p>
      <span class="price skeleton-text material-icons">paid</span>
    </div>
  </div>
</div>
