/* @import url("https://fonts.googleapis.com/icon?family=Material+Icons&icon_names=home,photo_gallery,business_center,expand_more"); */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  scrollbar-width: none;
}

:root {
  --accent-color1: rgb(155, 155, 238);
  --accent-color2: rgba(133, 133, 236, 1);
  --accent-color3: rgb(122, 122, 228);
  --accent-color4: rgb(80, 80, 218);
  --secondary-color1: rgb(245, 42, 42);
  --body-color-scheme1: white;
  --font-family: system-ui;
  --icofont: "Material Icons";
}
body {
  display: flex;
  flex-direction: column;
  height: 100vh;
  font-family: var(--font-family);
}

.content {
  padding-bottom: 100px;
}
.menu-hider {
  display: none;
}

header {
  top: 0;
  position: sticky;
  animation: 0.5s menuPop ease-in forwards;
  box-shadow: 0 2px 4px -1px var(--accent-color2);
  z-index: 1000;
}
nav {
  background-color: var(--accent-color1);
  font-size: 1em;
  display: flex;
  justify-content: space-around;
  align-items: center;
}
nav .brand {
  cursor: pointer;
  padding: 0 0.5em;
  font-weight: bold;
  transition: 0.3s color ease-in-out;
  &:hover {
    color: white;
  }
}
nav .navigation {
  display: flex;
  height: 100%;
  align-items: center;
}
nav .navigation a .icon {
  display: none;
}
nav a {
  height: inherit;
  flex: 1;
  color: white;
  position: relative;
  padding: 0.5em 1em;
  font-weight: bold;
  text-decoration: none;

  transition: 0.3s background-color ease-in-out;

  &::before,
  &.active::before {
    content: "";
    position: absolute;
    bottom: 0;
    left: 0;
    background-color: white;
    height: 0.3em;
    width: 100%;
    transform: scaleY(0);
    transform-origin: bottom;
    transition: 0.3s transform ease-in-out;
  }
  &.active::before {
    background-color: var(--accent-color4);
  }
  &:hover,
  &.active {
    cursor: pointer;
    background-color: var(--accent-color2);
  }
  &.active::before,
  &:hover::before {
    transform: scaleY(1);
  }
}

.reach {
  position: fixed;
  bottom: 1em;
  right: 0.5em;
  display: flex;
  flex-direction: column-reverse;
  justify-content: center;
  align-items: center;
  gap: 1em;
  z-index: 100;

  span {
    cursor: pointer;
    border: 1px solid whitesmoke;
    background-color: transparent;
    -webkit-backdrop-filter: blur(5px);
    backdrop-filter: blur(5px);
    box-shadow: 0px 0px 6px -1px var(--accent-color1);
  }
  span:active {
    -webkit-user-select: none;
    user-select: none;
    scale: 0.95;
  }
  & > span.message {
    padding: 0.5em;
    border-radius: 50%;
    background-color: #fff;
    color: var(--accent-color1);
    font-size: 2em;
  }
  & > span.message.active {
    font-family: "Material Icons";
    color: var(--accent-color3);
    animation: 1s iconAnimate alternate infinite;
  }
  & > span:not(.message) {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 55px;
    width: 55px;
    padding: 0.5em;
    border-radius: 50%;
  }
  & > span:not(.message) img {
    height: 35px;
    width: 35px;
  }
  & > span:not(.message).hide {
    opacity: 0;
    transform: translateY(100%) scale(0);
    transform-origin: bottom;
    transition:
      0.3s transform ease-in-out,
      0.1s opacity ease-in-out;
  }
  & > span:not(.message).show {
    opacity: 1;
    transform: translateY(0%) scale(1);
    transform-origin: bottom;
    transition:
      0.3s transform ease-in-out,
      0.5s opacity ease-in-out;
  }
}

.skeleton,
.skeleton-text {
  opacity: 0.7;
  animation: 0.5s pulse linear alternate infinite;
}

@keyframes pulse {
  0% {
    background-color: hsl(0, 0%, 85%);
  }
  100% {
    background-color: hsl(0, 0%, 95%);
  }
}

@keyframes menuPop {
  from {
    transform: translateY(-100%);
    opacity: 0;
  }
  to {
    transform: translateY(0%);
    opacity: 1;
  }
}
@keyframes iconAnimate {
  0% {
    transform: scale(1);
  }
  50% {
    transform: scale(0.95);
  }
  100% {
    transform: scale(1);
  }
}

/* Mobile devices */
@media (max-width: 460px) {
  header {
    bottom: 0;
    top: auto;
    position: fixed!important;
    width: 100vw;
    display: flex;
    flex-direction: column;
    animation: 0.5s menuPop ease forwards;
    z-index: 100;
  }
  .menu-hider {
    display: block;
    font-family: var(--icofont);
    font-size: 2em;
    background-color: var(--accent-color3);
    color: white;
    font-weight: bold;
    bottom: 0;
    position: sticky;
    width: max-content;
    align-self: flex-end;
    border-radius: 0.25em 0.25em 0 0;
  }

  nav {
    width: inherit;
    justify-content: center;
    height: 5rem;
    padding: 0;
  }
  nav .brand {
    display: none;
    padding: 0;
  }
  nav .navigation {
    height: 100%;
    width: inherit;
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  nav .navigation a {
    height: inherit;
    flex: 1;
    align-content: center;
    text-align: center;
  }
  nav .navigation a {
    display: flex;
    flex-direction: column;
    &.active .icon {
      font-family: var(--icofont);
    }
    & .icon {
      display: block;
      font-size: 2em;
    }
    &::before {
      width: 50%;
      bottom: 0;
      left: 25%;
      right: 25%;
      background-color: white;
      transform-origin: center;
      transform: scale(0);
    }
    /* We are actually going to turn it into active */
    &:hover::before {
      transform: scale(1);
    }
  }
  .menu-hider.hide,
  nav.hide {
    animation: 0.1s menuHide ease forwards;
  }
  .reach {
    bottom: 10em;
    transform: translateY(0%);
    animation: 0.3s reachPop ease forwards;
  }
  .reach.slide {
    animation: 0.2s reachSlide ease forwards;
  }

  @keyframes reachPop {
    from {
      transform: translateY(50%);
    }
    to {
      transform: translateY(0%);
    }
  }

  @keyframes reachSlide {
    from {
      transform: translateY(0%);
    }
    to {
      transform: translateY(50%);
    }
  }

  @keyframes menuPop {
    from {
      transform: translateY(100%);
      opacity: 0;
    }
    to {
      transform: translateY(0%);
      opacity: 1;
    }
  }
  @keyframes menuHide {
    from {
      transform: translateY(0%);
      opacity: 0;
    }
    to {
      transform: translateY(250%);
      opacity: 1;
    }
  }
}

@media screen and (min-width: 768px) and (max-width: 1024px) and (orientation: portrait) {
  header {
    background-color: transparent;
    -webkit-backdrop-filter: blur(3px);
    backdrop-filter: blur(3px);
    top: auto;
    bottom: 0;
    position: sticky!important;
    width: 100vw;
    display: flex;
    flex-direction: column;
    animation: 0.5s menuPop ease forwards;
    z-index: 100;
  }
  .menu-hider {
    display: block;
    font-family: var(--icofont);
    font-size: 2em;
    background-color: var(--accent-color3);
    color: white;
    font-weight: bold;
    bottom: 0;
    position: sticky;
    width: max-content;
    align-self: flex-end;
    border-radius: 0.25em 0.25em 0 0;
  }

  nav {
    width: inherit;
    justify-content: center;
    height: 5rem;
    padding: 0;
  }
  nav .brand {
    display: none;
    padding: 0;
  }
  nav .navigation {
    height: 100%;
    width: inherit;
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  nav .navigation a {
    height: inherit;
    flex: 1;
    align-content: center;
    text-align: center;
  }
  nav .navigation a {
    display: flex;
    flex-direction: column;

    &.active .icon {
      font-family: var(--icofont);
    }

    & .icon {
      display: block;
      font-family: var(--icofont);
      font-size: 2em;
    }
    &::before {
      width: 50%;
      bottom: 0;
      left: 25%;
      right: 25%;
      background-color: white;
      transform-origin: center;
      transform: scale(0);
    }
    /* We are actually going to turn it into active */
    &:hover::before {
      transform: scale(1);
    }
  }
  .menu-hider.hide,
  nav.hide {
    animation: 0.1s menuHide ease forwards;
  }
  .reach {
    bottom: 10em;
    transform: translateY(0%);
    animation: 0.3s reachPop ease forwards;
  }
  .reach.slide {
    animation: 0.2s reachSlide ease forwards;
  }

  @keyframes reachPop {
    from {
      transform: translateY(50%);
    }
    to {
      transform: translateY(0%);
    }
  }

  @keyframes reachSlide {
    from {
      transform: translateY(0%);
    }
    to {
      transform: translateY(50%);
    }
  }

  @keyframes menuPop {
    from {
      transform: translateY(100%);
      opacity: 0;
    }
    to {
      transform: translateY(0%);
      opacity: 1;
    }
  }
  @keyframes menuHide {
    from {
      transform: translateY(0%);
      opacity: 0;
    }
    to {
      transform: translateY(250%);
      opacity: 1;
    }
  }
}
